/* * {
    outline: 1px solid red;
} */

/* Categories */
.categories .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category-card {
    padding: 5px;
}

.start-btn {
    padding: 100px;    
    display: grid;
    margin: auto;
    -webkit-appearance: none;
}


/* Game */
.game .container {
    display: grid;
    grid-template-rows: 50% 50%;
}

.game .container .header {
    display: grid;
    grid-template-columns: 50% 50%;
}

.game .container .header .score {
    text-align: right;
}

.game .container .header .timer {
    text-align: left;
}

.header p {
    margin: 0px;
}

.game {
    display: none;
}

h1 {
    margin: 0px;
}

.game .container .word {
    padding-top: 10px;
}



/* Display Logic */
.categories.active {
    display: none;
}

.game.active {
    display: grid;
    text-align: center;    
    /* padding: 150px; */
    font-size: xx-large;
}


@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }