.categories .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category-card {
    padding: 5px;
}

.start-btn {
    padding: 100px;    
    display: grid;
    margin: auto;
}

.game {
    display: none;
}


/* Display Logic */
.categories.active {
    display: none;
}

.game.active {
    display: grid;
    text-align: center;    
    padding: 150px;
    font-size: xx-large;
}